

//*******************************

// Dropdowns

//*****************************

// Force dropdown open
.stay-open + ul {
  position: relative;
  float: none;
  display: block;
  margin-bottom: 5px;
  clear: left;
  z-index: 900;
}

//*******************************

// Ratings

//*****************************

.rating-box {
  margin-bottom: $line-height-computed;
}

.rating a.star {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  &:hover, &:active, &.active {
    &:before {
      content: "\f005";
    }
  }
  &:hover {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;
  }
  &:before {
    content: "\f006";
    padding-right: 5px;
  }
}

//*******************************

// Blocks

//*****************************

.block {
  .block-title {
    font-size: $font-size-h3;
    margin-top: 0;
  }
}

//*******************************

// Nodes

//*****************************

.node-teaser {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 35px;
  margin-bottom: 35px;
  .field-name-body > p:last-child {
    margin-bottom: 0;
  }
}

.views-teaser-list .node-teaser:last-child {
  border-bottom: 0;
}

//*******************************

// Catalog

//*****************************

.catalog {
  .availability {
    color: $brand-success;
  }
}
